body{
	background-color: #42a5f5 ;
}
.container {
    background-color: #ffffff;
    width: 100%;
    margin: auto;
}
.start{
	color: #ff8a80;
	text-align: center;
	border: 10px solid #f9a825;
	padding: 10px;
}
table,th,td{
	border: 1px solid #f57f17 ;
}
table{
	 border-collapse: collapse;
	 width: 100%;
	 background-color: #bcaaa4;
}
th{
	height: 50px;
}
.weekend{
	color: #b71c1c;
	font-size: 25px;
}
.birth{
	color: #2e7d32;
	font-size: 25px;
}
.weekday{
	color: #01579b;
	font-size: 25px;
}